@import url(https://fonts.googleapis.com/css?family=Audiowide&display=swap);
@import url(https://fonts.googleapis.com/css?family=Share+Tech&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.view-weather {
  height:100vh;
}

.view-check {
  height:100vh;
}

.mars-image {
  background-image: url("../images/mars2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100%;
  width:100%;
}

.mars-text {
  position:relative;
  padding:5% 5%;
  font-size: 70px;
  font-weight: 200;
  color:white;
  text-align:center;
  font-family: 'Audiowide';
  animation-name: goDown;
  animation-duration: 2s;
}

div.button {
  padding: 3% 0;
  text-align:center;
}

.button-check {
  position: relative;
  width:350px;
  height:100px;
  font-size: 50px;
  cursor:pointer;
  font-family:'Audiowide';
  font-weight: 600;
  border:5px solid;
  animation-name: go;
  animation-duration: 2s;
}

.button-check:hover {
  background-color:rgb(255, 72, 0);
  transition: all 0.5s;
}

.description {
  position:relative;
  margin: 2% 10% 0 10%;
  padding-bottom:80px;
  text-align:center;
  color:white;
  font-size:30px;
  animation-name:description;
  animation-duration: 4s;
}

.container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  padding-bottom:5%;
  min-height:100%;
  margin:5% 30px 0 30px;
}

.card {
  margin:1% 30px;
  width:250px;
  height:300px;
  border: 2px snow solid;
  box-shadow: 3px 5px 15px 5px rgb(245, 96, 10); 
  position:relative;
  transition: all 0.2s ease-in;
}

.card:hover {
  transform:translateY(-40px);
}

.card__top {
  height:30%;
  justify-content:center;
  display: flex;
  align-items: center;
  color:white;
  font-size:25px;
  font-family:'Audiowide';
  background-color: black;
}

.card__content {
  height:70%;
  width:100%;
  border-top:2px snow solid ;
  opacity: 0.8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-collapse:collapse;
  background-color:rgb(107, 102, 102);
} 

.card__content_data {
  padding-top:8%;
  font-size:26px;
  height:33%;
  color:black;
  margin:0 10px 0 10px;
  border-collapse:collapse;
}

tr {
  padding-top:8%;
  font-size:26px;
  height:33%;
  color:black;
  margin:0 10px 0 10px;
  border-collapse:collapse;
}

.card:nth-of-type(1){
  animation-name:fade;
  animation-duration: 1s;
}
.card:nth-of-type(2){
  animation-name:fade;
  animation-duration: 1.5s;
}
.card:nth-of-type(3){
  animation-name:fade;
  animation-duration: 2s;
}
.card:nth-of-type(4){
  animation-name:fade;
  animation-duration: 2.5s;
}
.card:nth-of-type(5){
  animation-name:fade;
  animation-duration: 3s;
}
.card:nth-of-type(6){
  animation-name:fade;
  animation-duration: 3.5s;
}
.card:nth-of-type(7){
  animation-name:fade;
  animation-duration: 4s;
}

tr:nth-child(1), 
tr:nth-child(2) {
  border-bottom: 1px solid black;
}

td {
  padding:5px;
  text-align:center;
  border-collapse:collapse;
  border:none;
}

.units {
  text-align:center;
}

@media screen and (max-width:1400px){

  .view-check {
    height:100%;
  }

  .mars-text {
    font-size: 60px;
  }
}

@media screen and (max-width:800px){

  .card {
    width:380px;
    height:450px;
    margin: 5%;
  }
  
  .card__top {
    font-size:35px;
  }
}

@keyframes goDown {
  0% {left:0px; top:-300px}
  100% {left:0px; top:0px;}
}

@keyframes fade{
  0% {opacity:0; top:-180px;}
  100% {opacity:1; top:0px;}
}

@keyframes description {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes go{
  from {left:-1000px; top:0px;}
  to {left:0px; top:0px;}
}